<html> 

<tilte></title>

<head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="js/bootstrap.min.js"></script>

</head>

<body>
</body>



    <style>
      	
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AI Radiology Assistant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <form class="my-auto d-inline w-100 mx-auto" style="max-width: 40%;">
                        <div class="input-group">
                            <input type="text" class="form-control border border-right-0" placeholder="Search For Disease">
                            <span class="input-group-append">
                                <a class="btn btn-light border border-left-0" type="button" style="background-color: white;" href="{{ url_for('search')}}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </form>
   <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Account Management</a>
                        
                    </div>
	
  </div>
</nav>
<div class="container">
 <div class="row">
		<div class="col-3">
		<div class="card mt-4">
		     <div class="list-group ">
              <a href="#" class="list-group-item list-group-item-action active">My Cases</a>
              <a href="#" class="list-group-item list-group-item-action">Account settings</a>
              <a href="#" class="list-group-item list-group-item-action">Admin</a>
              
           </div>   
              
            </div> 
		</div>
<div class="col-9">
		    <div class="card mt-4">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4><center>List Of Cases</center></h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>




<html>

