{% extends "layout.html" %}

{% block styles %}
    <style>
        html,
        body {
            height: 90%;
        }
    </style>
{% endblock %}


{% block content %}

    <!-- <script>
        function detectUpload(){
            var fileForm = document.getElementById("imageUploadForm")
            var fileInput = document.getElementById("fileInput");
            while (fileInput.files.length == 0){}
            fileForm.submit();
        }
    </script> -->

    <main role="main" class="container d-flex h-100">
        <div class="row mx-auto align-items-center">
            <div class="col text-center">
                <h1 class="display-1">Hello!</h1>
                <p class="lead" style="font-size: xx-large;">
                    Welcome to the AI Radiology Assistant. <br>
                    Please click the button below to select an image and get started!
                </p>
                <form method="POST" action="" enctype="multipart/form-data">
                    <!-- {{ url_for('confirm') }} -->
                    {{ form.hidden_tag() }}
                    <label class="btn btn-lg btn-secondary">
                        Upload Image {{ form.image(accept=".jpg, .png", onchange="this.form.submit();", hidden=True)}}
                        <!-- <input type="file" accept=".jpg, .png" onchange="this.form.submit();" hidden> -->
                    </label>
                </form>


            </div>
        </div>
    </main>

{% endblock %}