{% extends "layout.html" %}

{% block styles %}
    <style>
        html,
        body {
            height: 90%;
        }
    </style>
{% endblock %}

{% block content %}

    <main role="main" class="container d-flex h-100">
        <div class="row mx-auto h-100">
            <div class="col my-auto">
                <div class="card" style="width: 25rem;">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('login')}}">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Register</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <h2 class="text-center mb-4 display-4" style="font-size:xx-large;">Create an Account</h2>
                      <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <!-- First and Last Name -->
                        <div class="input-group mb-3">
                          <!-- First name -->
                          {% if form.firstname.errors %}
                            {{ form.firstname(class="form-control is-invalid", placeholder=form.firstname.label.text) }}
                            <div class="invalid-feedback">
                              {% for error in form.firstname.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                            {{ form.firstname(class="form-control", placeholder=form.firstname.label.text) }}
                          {% endif %}

                          <!-- Last name -->
                          {% if form.lastname.errors %}
                            {{ form.lastname(class="form-control is-invalid", placeholder=form.lastname.label.text) }}
                            <div class="invalid-feedback">
                              {% for error in form.lastname.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.lastname(class="form-control", placeholder=form.lastname.label.text) }}
                          {% endif %}
                        </div>
                        <!-- Username -->
                        <div class="input-group mb-3">
                          {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid", placeholder=form.username.label.text) }}
                            <div class="invalid-feedback">
                              {% for error in form.username.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                            {{ form.username(class="form-control", placeholder=form.username.label.text) }}
                          {% endif %}
                        </div>
                        <!-- Email -->
                        <div class="input-group mb-3">
                          {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid", placeholder=form.email.label.text) }}
                            <div class="invalid-feedback">
                              {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                            {{ form.email(class="form-control", placeholder=form.email.label.text) }}
                          {% endif %}
                        </div>
                        <!-- Password -->
                        <div class="input-group mb-3">
                          {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid", placeholder=form.password.label.text) }}
                            <div class="invalid-feedback">
                              {% for error in form.password.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                          {% endif %}
                        </div>
                        <!-- Confirm Password -->
                        <div class="input-group mb-3">
                          {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid", placeholder=form.confirm_password.label.text) }}
                            <div class="invalid-feedback">
                              {% for error in form.confirm_password.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                            {{ form.confirm_password(class="form-control", placeholder=form.confirm_password.label.text) }}
                          {% endif %}
                        </div>
                        <!-- Register Button -->
                        {{ form.submit(class="btn btn-primary") }}
                      </form>
                    </div>
                  </div>
            </div>
        </div>
    </main>

{% endblock %} 